
<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    	<div class="container">
	      <a class="navbar-brand" href="/index">
	      	Cosmos Infinity
	      </a>
        </div>
</nav>

<body>

     <section class="cmspage mtb-40">
        <div class="container">
          <div class="error-404">
            <h1>404</h1>

            <p>Sorry, the page you were looking for in this blog does not exist.</p>
            <a href="/index">Home</a>
          </div>
        </div>
    </section>


    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>