
{% extends "base.html" %}

{% block content %}

    <section class="dashboard-wrap mtb-40">
    	<div class="container">
            <div class="body-content">
        		<div class="row">
        			<div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="admindashboard" class="active">Dashboard</a></li>
                                <li><a href="admin-blog-list">Articles</a></li>

								<li><a href="newuser">Accept Or Reject User</a></li>
								<li><a href="comment">Accept Or Remove Comment</a></li>
                                <li><a href="logout">Logout</a></li>
                            </ul>
                        </div>   
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                           
							<h1>Welcome {{data.name}} {{data.lastname}}</h1>
                        </div>   
                    </div>
        		</div>
            </div>
    	</div>
    </section>

{% endblock content %}
